
:root{
    --border-solid:1px solid #dcd9d996;
    --font-poppins:  "Poppins", sans-serif;
    --theme-red:#FF0000;
    /* --common-box-shadow: var(--theme-color-accent) 1.95px 1.95px 2.6px; */
    --text-color-light:#4a4a4a;
    --border-color-light:#7c7c7c;
}
/* ====== global css  ====== */
.common_box_shadow{
    transition: 0.3s linear;
    background: #ffffff;
    /* padding: 10px; */
}

.common_box_shadow:hover{
    box-shadow: var(--common-box-shadow);
}

a{
    text-decoration: none;
}
.font_normal{
    font-family: var(--font-poppins);
    font-size: 18px;
}
.font_normal_16{
    font-family: var(--font-poppins);
    font-size: 16px;
}
.font-small-10{
    font-size: 10px;
}
.best_offer{
    color: red;
    font-weight: 500;
}
.theme_green{
    color: #2EBB4D;
}
.gap_3{
    gap: 3px;
}
.gap_25{
    gap: 25px;
}
.row_gap_1{
    row-gap: 1rem;
}
.row_gap_5{
    row-gap: 5px;
}
.row_gap_10{
    row-gap: 10px;
}
.row_gap_15{
    row-gap: 15px;
}
.row_gap_20{
    row-gap: 1.25;
}
.row_gap_25{
    row-gap: 20px;
}
.row_gap_35{
    row-gap: 35px;
}
.row_gap_40{
    row-gap: 40px;
}
.top-section .owl-carousel .owl-stage-outer{
    padding: 0;
}
.yc-cars .owl-carousel .owl-item img {
    object-fit: contain;
    object-position: center;
    height: 100%;
}
.img_width_100{
    width: 100%;
}
.common_blogs_wrapper{
    row-gap: 20px;
    column-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section_inner_titles{
    font-family: var(--font-poppins);
}
.titles_h1{
    font-size: 24px;
    font-weight: 700;
}
.titles_h2{
    font-size: 24px;
    margin-bottom: 1.6rem;
    font-weight: 600;
}
.titles_h4{
font-size: 13px;
font-weight: 600;
}
.title_view_more_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_view_more_wrap a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    font-family: var(--font-poppins);
    font-size: 15px;
    padding: 10px 20px;
    font-weight: 500;
    transition: 0.3s;
} 
.title_view_more_wrap a:hover{
    background-color: #FF0000;
    border: 1px solid #FF0000;
    color: #FFF;
}
.yc-cars-details {
    padding: 25px;
    display: grid;
    row-gap: 5px;
}
.yc-cars-details p{
    margin-bottom: 0;
}
.yc-car_brand-logos img{
    height: 90px;
    object-fit: contain;
    width: 65px;
    margin-inline: auto;
}
.single_brand_logo{
    display: block;
    color: inherit;
}
/* global css end  */
body{
    font-family: var(--font-poppins);
    background-color: #F8F8F8;
    /* background-color: #6f6f6f; */
}

/* radio button css  */
.radio_button_holder{
    display: flex;
    column-gap: 15px;
}
.radio_wrap{
    display: flex;
    align-items: center;
    gap: 5px;
}
.radio_input_warp{
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50%;
}
.radio_input_warp input{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.radio_input_warp .custom_cheackmark{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: scale(0.5);
    transition: 0.2s linear;
    opacity: 0;
}
.radio_wrap label{
    cursor: pointer;
    transition:0.2s linear ;
}
.radio_input_warp input:checked ~ .custom_cheackmark{
    opacity: 1;
}
.radio_input_warp input:checked ~ .radio_input_warp{}
/* .radio_input_warp input:checked ~ .input_radio_label{
    color: var(--theme-red);
} */

/* input[type="radio"]:checked + .custom_checkmark + label{
    color: red;
} */
/* radio button css end */

select#media_list{
    /* position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearence: none;
    padding: 2px 2px 2px 2px;
    border: none;  */
}
select#media_list::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/select_icon.svg");
    background-repeat: no-repeat;
    background-size: 30px;
}

.yc-h3-title{
    font-size: 24px;
    font-weight: 600;
}
 .yc-h3-title{
    margin-bottom: 25px;
}
.yc-page-desc{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
}
#yc-hero {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/yaara-hero.png);
    padding-block: 60px 60px;
    margin-top: 110px;
}
.yc-car-brand-page{
    padding-block: 170px 0;
}
.yc-filter-form{
    background: #ffffff;
    border-radius: 15px;
}
.yc-form-main{
    row-gap: 15px;
}
.yc-radio label{
    font-size: 12px;
    font-weight: 400;
}
.yc-form-main select#media_list {
    width: 100%;
    margin-block: 10px;
    padding-block: 10px;
    padding-inline: 5px;
    border-radius: 30px;
}
input[type="submit"] {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px;
    background: #ff0000;
    outline: transparent;
    border: 1px solid #ff0000;
    color: #ffffff;
    transition: 0.5s;
}
input:hover[type="submit"]{
    background: #ffffff;
    color: #ff0000;
}
.radio_wrap input:checked label{
    color: #ff0000;
}
.cars-carousel img {
    /* padding: 40px; */
    max-width: 400px;
    height: 110px;
    object-fit: cover;
    width: 100%;
}

a.check_offers_button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 5px;
    padding: 8px 0;
    transition: 0.5s;
}
a.check_offers_button:hover{
    color: #ffffff;
    background: #FF0000;
}
.cars-carousel .item.car-item {
    background: #f6f6f6;
    border: 2px solid #e7e7e7;;
    border-radius: 15px;
    overflow: clip;
    /* margin: 13px; */
}
.car-mock {
    background: #ffffff;
    padding: 50px;
    height: 205px;
    padding: 1.5rem;
}
.cars-carousel{
    position: relative;
}
.cars-carousel p{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}
.cars-carousel h4{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
}
.logos-carousel {
    position: relative;
}
.logos-carousel img{
    max-width: max-content;
    margin-inline: auto;
    object-fit: contain;
    object-position: center;
}
.logos-carousel p{
    text-align: center;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}
.logos-carousel .item.car-item{
    width: 160px;
    height: 160px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    display: grid;
    align-content: center;
    margin-inline: auto;
    /* margin: 10px; */
}
.logos {
    height: 70px;
    margin-block: 20px;
    width: 90px;
    margin-inline: auto;
}

#yc_blog_card {
    display: flex;
    border: 1px solid #00000010;
    background: #F6F6F6;
    overflow: clip;
    border-radius: 10px;
    color: inherit;
}
#yc-blog-desc{
    padding: 20px;
    display: grid;
    align-content: center;
    line-height: 1.8;
}
.yc-h4-title.pb-4 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.nav-rotate{
    transform: rotate(180deg);
}
.cars-carousel .owl-next, .cars-carousel .owl-prev, .logos-carousel .owl-next, .logos-carousel .owl-prev,  .hyundai-carousel .owl-next, .hyundai-carousel .owl-prev{
    position: absolute;
    top: 35%;
}

.cars-carousel .owl-prev, .logos-carousel .owl-prev, .hyundai-carousel .owl-prev{
    left: -2.5%;
}
.cars-carousel .owl-next, .logos-carousel .owl-next, .hyundai-carousel .owl-next{
    right: -2.5%;
}
img.nav-btn {
    width: 50px;
    height: 50px;
    max-width: revert;
    object-fit: contain;
    padding: 15px;
    /* box-shadow: 0px 0px 5px 3px #d3d3d3;
    border-radius: 50%; */
    
}
.yc-cars .cars-carousel button.owl-next, .yc-cars .cars-carousel button.owl-prev, .yc-cars .logos-carousel button.owl-next, .yc-cars .logos-carousel button.owl-prev, .yc-cars .hyundai-carousel button.owl-next, .yc-cars .hyundai-carousel button.owl-prev{
    background: #FFFFFF;
    transition: 0.5s;
    width: 50px;
    height: 50px;
    max-width: revert;
    object-fit: contain;
    padding: 15px;
    box-shadow: 0px 0px 5px 3px #d3d3d3;
    border-radius: 50%;
}
.yc-cars .cars-carousel button.owl-next:hover, .yc-cars .cars-carousel button.owl-prev:hover, .yc-cars .logos-carousel button.owl-next:hover, .yc-cars .logos-carousel button.owl-prev:hover, .yc-cars .hyundai-carousel button.owl-next:hover, .yc-cars .hyundai-carousel button.owl-prev:hover{
    background: #FF0000;
    img.nav-btn{
        filter: invert();
    }
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}
.cars-carousel .owl-prev.disabled, .logos-carousel .owl-prev.disabled, .hyundai-carousel .owl-prev.disabled, .cars-carousel .owl-next.disabled, .logos-carousel .owl-next.disabled, .hyundai-carousel .owl-next.disabled{
 visibility: hidden;
 opacity: 0;
}
.yc-h4-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.8;
}

/* Car brand css  */
.yc-car-inventory-inner{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    padding: 40px 18px;
    border: var(--border-solid);
    border-radius: 10px;
    background-color: #FFF;

}
.yc-car-rating-wrap {
    position: relative;
    max-height: 50px;
    min-width: 160px;
    padding: 5px 8px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    justify-content: center;
    column-gap: 5px;
}
.yc-car-rating-wrap .yc-star{
    width: 18px;
}
.yc-car-rating-wrap .vl_line span{
    width: 0.2px;
    height: 20px;
    background-color: #000;
}
.yc-car-rating-wrap p{
    margin-bottom: 0;
}
.yc-car-brands{
    padding-block: 20px 0;
    border: var(--border-solid);
    background-color: #fff;
    border-radius: 10px;
}
.yc-car_brand-logos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-inline: 14px;
}
.yc-more-option-wrap{
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #dcd9d996;
}

.news_wrap{
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 10px;
}
.news_wrap a{
    color: inherit;
}
.images_gallery_main_wrap .yc-gallery-list li:nth-child(n + 5){
    display: none;
    background-color: red;
}
.news_wrap .new_img_holder{
    display: block;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.news_wrap .new_img_holder img{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.news_wrap .new_img_holder img{
    width: 100%;
    height: 100%;
}
.news_desc{
    padding: 15px 10px;
}
.news_wrap h5,
.news_wrap p{
    font-family: var(--font-poppins);
    font-size: 14px;
}
.read_more{
    display: flex;
    justify-content: end;
}
.read_more a{
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 15px;
    color: var(--theme-red);
}
.images_gallery_main_wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.hyundai_imgs .images_gallery_main_wrap .yc-gallery-list{
    grid-template-columns: repeat(2, 1fr);
}
.images_gallery_main_wrap .yc-gallery-caption{
    align-items: center;
}

.vids_wrap{
    padding:30px;
    background-color: #fff;
    border-radius: 10px;
    border: var(--border-solid);
}
.vids_wrap .vids_desc p{
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 14px;
}
.vids_wrap .videos_holder iframe{
    border-radius: 10px;
}
.desc_p{
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.video_info .vid_info{
    display: flex;
    justify-content: space-between;
}
.video_info .vid_info p{
    color: #808080;
    margin: 0;
    font-size: 15px;
    display: flex;
    column-gap: 6px;
    font-weight: 300;
}


/* Single car css  */
.table_wrapper{
    background: #fff;
    border: var(--border-solid);
    border-radius: 10px;
    padding: 10px 20px;
    overflow: hidden;
}
.table_wrapper table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;
}
/* .table_wrapper table tbody  tr:not(:last-child) td{
    border-bottom: var(--border-solid);
} */
.table_wrapper table tbody tr:not(:last-child) td {
    border-bottom: 2px solid #dcd9d996;
    padding-bottom: 13px;
}


.table_wrapper table thead th,
.table_wrapper table tbody td{
    font-family: var(--font-poppins);
    font-weight: 400;
    color: #4d4d4d;
    font-size: 16px;
}
.table_wrapper table tbody td .view_detail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    padding: 10px 0px;
    font-family: var(--font-poppins);
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    color: var(--theme-red);
    background-color: #fee6e6;
}

.car_info_button{
    display: flex;
    justify-content: center;
    padding: 8px 0;
    border-color: #000;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}
.single_car_carousel .car-mock{
    padding: 25px;
}

/* Single car css end */

/* faq page  */
.faq_wrap{
    list-style: none;
}
.faq_item{
    margin-bottom: 15px;
}
.faq .faq_wrap p{ 
    margin-bottom: 5px;
    font-family: var(--font-poppins);
    font-size: 16px;
}
.load_more{
    width: 140px;
    padding: 10px;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    font-family: var(--font-poppins);
    font-size: 17px;
    border-radius: 10px;
    margin-inline: auto;
}
/* faq page end */

/* specific car page  */
.custom_table_wrap {
    list-style: none;
    padding-left: 0;
}
.custom_table_wrap li{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #dcd9d996;
    padding-block: 20px;
}
.custom_table_wrap li p{
    margin-bottom: 0;
}
.custom_table_wrap .accordion-button,
.custom_table_wrap .accordion-item{
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding-inline:0 ;
}
.custom_table_wrap .accordion-button{
    text-decoration: underline;
}
.custom_table_wrap .accordion-body{
    padding: 0;
}
.custom_table_wrap .accordion-button::after{
    background-image: url("https://www.nuitsolutions.co.in/yaara/assets/img/drop-down-icon.svg");
}
.custom_table_wrap .accordion-body ul{
    padding-left:0 ;
    list-style: none;
}
.custom_table_wrap .accordion-body ul li{
    padding-block: 0 10px;
}
/* specific car page end  */

/* Car Price Page */
.yc-car-price-page{
    padding-block: 170px 0px;
}
.yc-car-price-wrap .nav-pills .nav-link{
    color: #000;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    border-radius: 0;
    padding-bottom: 5px;
    padding-inline: 0;
    margin-right: 70px;
}
.yc-car-price-wrap .nav-pills .nav-link.active, .yc-car-price-wrap .nav-pills .show>.nav-link{
    border-bottom: 3px solid #ff0000;
}

.accordion-item .accordion-button::after{
    margin-left: 0;
    position: absolute;
    left: -30px;
}
.accordion-body .d-grid{
    row-gap: 20px;
}
.accordion-body .d-grid.row_custom{
    row-gap: 0;
}
.accordion-header{
    margin-inline:20px;
}
.accordion-header .accordion-button span{
    color: #00000080;
}
.accordion-button:not(.collapsed){
    background-color: transparent;
    color: #000;
}
.accordion-item button{
    outline: 0;

}
.accordion-button{
    padding-left: 0;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion{
         --bs-accordion-border-width: 0;
         /* --bs-accordion-btn-icon: url(https://www.nuitsolutions.co.in/yaara/assets/img/ar-right.svg); */
}
.yc-car-price-wrap {
    background: #ffffff;
    /* padding: 20px; */
    overflow: clip;
    border-radius: 15px;
}
.yc-car-price-wrap .accordion-item, .yc-car-price-wrap .accordion-flush>.accordion-item:first-child {
    padding-block: 25px;
    border-top: 1px solid #c4c4c4;
    padding-inline: 20px;
}
ul#pills-tab {
    padding-inline: 20px;
    padding-top: 20px;
}
.accordion.accordion-flush{
    padding-inline: 0;
}
.link_red{
    text-decoration: underline;
    color: #FF0000;
}
.accordion-body .check_offers_button.two{
    margin-top: 20px;
    font-weight: 600;
}
.accordion-body h6{
    font-weight: 600;
}
/* Car Price Page End */

/* Car Variant CSS */
.yc-car-wrap {
    border-radius: 10px;
    overflow: clip;
}
.yc-car-variant .yc-versions{
    font-weight: 500;
}
.yc-car-variant .yc-price {
    font-size: 16px;
}
.yc-car-variant .yc-price span{
    font-size: 12px;
    font-weight: 500;
}
.yc-car-price-table.variant .accordion-header{
    margin-inline: 0;
    margin-bottom: 20px;

} 
.variant .row_custom p{
    font-size: 18px;
    font-weight: 600;
}
.variant .row_custom p .link_red{
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}
.variant .yc-car-price-wrap .accordion-item, .variant .yc-car-price-wrap .accordion-flush>.accordion-item:first-child {
    padding-block: 25px;
    border-top: 1px solid #c4c4c4;
    padding-inline: 30px;
}
.variant_wrap {
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
}
.variant_wrap .faq_wrap {
    padding-left: 0;
}
/* Car Variant CSS End */

/* Car Images CSS */
.yc-single-gallery.variant{
    margin: 0;
}
.yc-single-gallery .yc-single-car-content{
    /* width: 90%; */
    margin-inline: auto;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
}
.yc-trend-car-desc .new_img_holder{
    overflow: clip;
    border-radius: 10px;
    display: flex;
    width: 100%;
}
.yc-single-gallery.variant .yc-single-car .item img{
    height: 445px;
}
.yc-trend-car-desc .yc-more-option-wrap{
    padding-bottom: 0;
}
.hyundai-carousel .logos{
    height: 100%;
    width: 100%;
}
/* Car Images CSS End */

/* Car Video CSS */
.line-clamp {
    /* text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px; */
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  }
  /* Car Video CSS End */
